alabaster==0.7.10
Babel==2.4.0
coverage==4.3.4
decorator==4.0.11
docutils==0.13.1
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
nose==1.3.7
parameterized==0.6.1
pockets==0.3.2
Pygments==2.2.0
pytz==2017.2
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-napoleon==0.6.1
evento==1.0.1
tox==2.5.0
